body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: poppins;
}
section{
    width: 30%;
    /* padding-top: 5px; */
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    border: 1px solid red;
    background-color: hotpink;
    box-shadow: 0 0 6px;
    border-radius: 5px;
}

h1{
    font-size: 3.0rem;
    font-weight: 500;
}
.counter-preview{
    font-size: 8rem;
    line-height: 0.1rem;
    /* padding-top: 0.5rem; */
}
div{
    display: flex;
    justify-content: center;
}

button{
    width: 25%;
    font-size: 0.9rem;
    background-color: blue;
    color: rgb(239, 239, 239);
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
}

#reset{
    background-color: red;
}
